@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #2e2c51;
    padding: 2%;
}

.cabecalho{
    display: flex;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    align-items: center;
    border: 1px solid red;
}

.cabecalho_titulo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.cabecalho_menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cabecalho_menu_secao_links_principal{
    display: flex;
    gap: 20px;
}

.links_secao_principal{
    text-decoration: none;
    color: #c2f0fe;
}

.cabecalho_menu_secao_links_social{
    display: flex;
    gap: 20px;
}

.links_secao_social{
    background-color: #fc8feb;
    padding: 5% 10%;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #c2f0fe;
}