@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #080206;
    --cor-secundaria: #c2f0fe;
    --cor-tercearia: #fc8feb;

    --fonte-primaria: "Audiowide", serif;
    --fonte-secundaria: "Montserrat", serif;
}

body{
    background-image: url("/assets/bgimage1.jpg");
    background-repeat: no-repeat, repeat;
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    height: 100vh;
}

.cabecalho{
    padding: 2% 0%;
    display: flex;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

.cabecalho_titulo{
    font-size: 2.5rem;
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(227,209,250,1) 20%, rgba(199,216,253,1) 48%, rgba(202,248,247,1) 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.cabecalho_titulo:hover{
    background: rgb(202,248,247);
    background: linear-gradient(90deg, rgba(202,248,247,1) 20%, rgba(227,209,250,1) 52%, rgba(199,216,253,1) 99%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho_menu_principal{
    display: flex;
    gap: 20px;
}

.links_menu_principal{
    text-decoration: none;
    color: var(--cor-secundaria);
    text-shadow: 0.6px 0.6px var(--cor-primaria);
}

.links_menu_principal:hover{
    color: var(--cor-tercearia);
}

.cabecalho_menu_social{
    display: flex;
    gap: 20px;
}

.links_menu_social{
    background-color: #3a9dff;
    padding: 5% 10%;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    text-shadow: 0.7px 0.7px var(--cor-tercearia);
}

.links_menu_social:hover{
    background: var(--cor-tercearia);
    color: var(--cor-primaria);
}

.conteudo_principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.6% 10%;
    gap: 50px;
}

.conteudo_principal_favorito{
    width: 300px;
    height: 450px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    border: 5px double var(--cor-tercearia);
    border-radius: 5px;
    text-decoration: none;
}

.conteudo_principal_favorito:hover{
    opacity: 90%;
    border: 5px double var(--cor-secundaria);
}

.favorito_titulo{
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-secundaria);
    padding: 2%;
    font-weight: 600;
    text-shadow: 2px 2px var(--cor-primaria);
}

.favorito_imagem{
    object-position: center;
    height: 100%; 
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    
}

.rodape{
    margin: 10% 0%;
    padding: 0.3% 0%;
    width: 100%;
    display: flex;
    background-color: var(--cor-secundaria);
    align-items: center;
    justify-content: center;
}

.rodape_titulo{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}

/*Pagina sobre reaproveitamento */
.apresentacao{
    padding: 4% 15%;
    gap: 82px;
    display: flex;
    justify-content: space-between;
}

.apresentacao-conteudo{
    background-color: rgba(202,248,247,0.9);
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 5%;

}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao-conteudo-paragrafo-bio{
    line-height: 36px;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonteSize-padrao);
}

.apresentacao-imagem{
    width: 50%;
    height: 50%;
}
/*Pagina sobre reaproveitamento fim, */


@media (max-width: 1200px){
    body{
        height: 100vh;
        background-repeat: repeat-y;
    }
    
    .cabecalho{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .cabecalho_menu_social{
        justify-content: center;
    }
    .conteudo_principal{
        padding: 6% 2%;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .apresentacao-conteudo{
        width: auto;
    }
    .apresentacao-imagem{
        margin-bottom: 0%;
    }
}
