@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    background-color: #2e2c51;
    padding: 2%;
}

.cabecalho{
    display: flex;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    align-items: center;
}

.cabecalho_titulo{
    font-size: 2.5rem;
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(227,209,250,1) 20%, rgba(199,216,253,1) 48%, rgba(202,248,247,1) 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cabecalho_menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cabecalho_menu_secao_links_principal{
    display: flex;
    gap: 20px;
}

.links_secao_principal{
    text-decoration: none;
    color: #c2f0fe;
}

.cabecalho_menu_secao_links_social{
    display: flex;
    gap: 20px;
}

.links_secao_social{
    background-color: #fc8feb;
    padding: 5% 10%;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #c2f0fe;
}